body{
    background-color: white;
    max-width: 750px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

.player{
    background-color: beige;
    display:flex;
    flex-direction: row;
    flex: 6;
}

.controlPanel{
    background-color: #000000;
    flex: 1;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 15px;
}

.controlPanel img {
    margin: 5px;
}

.controlPanel audio{
    width: 100%;
}

.playlistheader{
    background: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.tracks{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.playlist{
    flex:1;
    background: pink;
    display: flex;
    flex-direction: column;
}

.playlistbody{
    padding: 0px 15px 15px 15px;
    line-height: 15px;    
}

.currentplay{
    background: lightgrey;
    padding:14px;
    border:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: grey;
    line-height: 5px;
    padding-bottom: 43px;
}

.logo{
    display: flex;
    flex-direction: row;
}

.logo img{
    padding: 10px;
    border: 20px;
    border-color: white;
    height: 81px;
    width: 82px;
}

.albumcover{
    margin: 10px;
}

.albumcover img {
    border: 20px;
    border-color: white;
    height: 81px;
    width: 81px;
}

.icons{
    
}

.tracklist{

}